@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.title {
    color: black
}

.card {
    transition: all .1s ease-in-out;
}

.card:hover {
    transform: translate3d(0px, -7px, 0px);
}

#h1-id {
    font-family: 'Roboto Mono', monospace;
}

.contained {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 100px;
    padding-bottom: 10px;
}

