.productbox {
    display: flex;
    margin: auto;
    height: 120px;
    width: 120px;
    background-color: transparent;
}

.firebox {
    display: flex;
    margin: auto;
    height: 120px;
    width: 120px;
    background-color: transparent;
    padding-left: 100px
}

.catbox {
    display: flex;
    margin: auto;
    height: 60px;
    width: 60px;
    background-color: transparent;
    padding-left: 30px
}

.notdisplayed {
    display: none;
}

.displayed {
    display: flex;
    height: 20px;
    margin: auto;
}

a:link {
    text-decoration: none;
}